/* MEDIA QUERIES */

@media (max-width: 800px) {
  .hideOnMobile {
    transition-duration: 1s;
    display: none;
  }
  .sidebar-open-icon {
    display: block;
  }
}
/* Intermediate view */
@media (max-width: 659px) {
  .intro-name,
  .hi,
  .Main-Name {
    font-size: 1rem;
  }
}

/* View On Mobile */

@media (max-width: 440px) {
  .sidebar {
    width: 100%;
  }

  body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    padding-top: 3rem;
    box-shadow: inset 10px 10px 20px rgba(black, 0.9);
    backdrop-filter: blur(10px);
    background-color: #0e3072;
    width: 100%;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: clamp(2.7rem, 4vw, 5rem);
    /* padding-right: 20px; */
    z-index: 100;
    background-color: #292929;
    box-shadow: 3px 5px 5px #2e2e2e;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .firstSection {
    width: 100%;
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
  }

  .logo-class,
  .logo-image {
    margin: 2rem 0;
    display: block;
    border-radius: 30vw;
    width: 50vw;
    user-select: none;
  }

  .intro-name {
    cursor: default;
    /* backdrop-filter: blur(0.7px); */
    display: block;
    margin: 1.4rem 0 0 0;
    width: 100%;
    font-size: 5vw;
  }

  .hi {
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 2rem;
    display: block;
  }

  .first-name,
  .last-name {
    font-weight: 500;
    color: rgb(62, 255, 191);
  }

  .Main-Name {
    font-weight: 700;
    padding: 0 2px;
    background-color: #251949;
    color: rgb(241, 255, 46);
  }

  .red-name {
    font-weight: 600;
    background-color: rgb(43, 41, 41);
    padding: 0 2px;
    color: rgb(255, 255, 255);
  }

  #element {
    font-weight: 700;
    color: yellow;
  }

  .btn {
    margin-top: 7rem;
  }
  .img-arrowdown {
    margin-top: 0.4rem;
  }

  @media (max-width: 440px) {
    .secondPage {
      margin-top: 30vh;
    }

    .heading1 {
      color: #ffeb00;
      background-color: #2c2c2c;
      display: flex;
      justify-content: center;
    }

    .para1 {
      display:block;
      font-family: "Montserrat";
      font-size: 1rem;
      margin: 1rem 0.6rem 0 0.6rem;
      text-align: left;
      font-weight: 400;
      width: 100%;
    }
  }
}
